hr{
  
  background-color:black;
  height:1;


}

#tabela{
	background-color:white;
	
	
}
#fundo{

	background-color:gray;


}
#texto{
	font-size:20;
	font:arial;
	
	
}
#titulo{
       size:20;
	   


}